Source: golang-serf
Section: web
Priority: optional
Maintainer: Kouhei Maeda <mkouhei@palmtb.net>
Build-Depends: debhelper (>= 9.0.0),
	dh-golang,
	golang-go (>= 2:1.2),
	golang-hashicorp-memberlist-dev,
	golang-mitchellh-cli-dev,
	golang-hashicorp-logutils-dev,
	golang-mitchellh-mapstructure-dev,
	golang-ugorji-go-dev,
	golang-armon-mdns-dev (>= 0.0~git20140225~8be7e3a),
	golang-ryanuber-columnize-dev
Standards-Version: 3.9.5
Homepage: http://www.serfdom.io/

Package: serf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Service orchestration and management tool
 Serf is a service discovery and orchestration tool that is decentralized,
 highly available, and fault tolerant. Serf runs on every major platform:
 Linux, Mac OS X, and Windows. It is extremely lightweight: it uses 5 to 10 MB
 of resident memory and primarily communicates using infrequent UDP messages.

